.App {
  text-align: center;
  height: 100vh;
  background: url(./turbine.webp);
  background-size: cover;  
}

.coming-soon {
  font-size: 30px;
  color: #1a1d58;
  background: #ffffffc4;
  width: 66%;
  margin: auto;
  margin-top: 10%;
}

.App-logo {
  background: #ffffffc4;
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-link {
    color: #61dafb;
  }
}